footer {
    position: absolute;
    width: 100%;
    height: 110px;
    left: 0px;
    top: 1157px;
    display: flex;
    white-space: nowrap;
}

.institucional {
    width: 100%;
    place-content: space-between;
}

.institucional ul li{
    position: fixed;
    display: contents;
    font-size: 19px;
    line-height: 28px;
    color: #5D8A66;
}

p {
    position: relative;
    font-size: 12px;
    left: 41px;
    color: #5D8A66;
}