.footer-login-cadastro{
    display: flex;
    position: fixed;
    left: -25px;
    height: 171px;
    top: 673px;
    font-style: normal;
    font-size: 12px;
    color: #B0A6A6;
}

.direitos{
    position: absolute;
    display: grid;
    width: 1800px;
    height: 40px;
    top: 211px;
    font-size: 16px;
}

.direitos img{
width: 1800px;
}

.atendimento-cli, .sobre, .pg{
    font-size: 13px;
    font-weight: bold;
    line-height: 1px;
}

.pagamentos img{
    display: flex;
    margin-left: 46px;
}

.atendimento, .sobre-810enter, .pagamentos{
line-height: 7px;
}