header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 15%;
  background: #323050;
  z-index: 5;
  justify-content: space-around;
  align-items: center;
}

.logo-header img {
    width: 199px;
    height: 97px;
    background-blend-mode: lighten;
    filter: drop-shadow(10px 20px 7px rgba(0, 0, 0, 0.25));
    border-radius: 20px
}

header a {
    font-size: 20px;
    color: #FFFFFF;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
}

header nav ul li{
    top: 120px;

    display: flex;
    position: relative;
    
    color: #FFFFFF;
}

  
  /* Style the search field */
  form.navSearch input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 570px;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.navSearch button {
    padding: 10px;
    color: #323050;
    font-size: 17px;
    border: 1px solid grey;
    cursor: pointer;
    position: absolute;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

.menu-header {
  display: flex;
}
  
.iconeMinhaConta {
  width: 208px;
  display: flex;
  align-items: center;
  flex-direction: column;
  }

.iconeMinhaConta img {
    width: 199px;
    height: 64px;
    background-blend-mode: lighten;
    filter: drop-shadow(10px 20px 7px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}

.iconeMinhaConta h1 {
  height: 1px;
  font-weight: 400;
  font-size: 19px;
  color: #FFFFFF;
  font-weight: bold;
}

.iconeCarrinho{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconeCarrinho img {
    width: 199px;
    height: 64px;
    background-blend-mode: lighten;
    filter: drop-shadow(10px 20px 7px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}

.iconeCarrinho h1 {
  height: 1px;
  font-weight: 400;
  font-size: 19px;
  color: #FFFFFF;
  font-weight: bold;
}

