.aside-menu{
    margin: 198px 0 8px 0;
    width: 319px;
    height: 647px;
    display: flex;
    top: 200px;
    background: #EEEEEE;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
    align-content: space-between;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.avatar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nome-usuario {
    text-align-last: center;
    text-align: -webkit-center;
}

.nome-usuario h1 {
    display: table-caption;
    margin: 1px;
}

.menu-lateral {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.meucadastro, .pedidos, .garantia, .arrependimento {
    text-align: center;
    margin: 11px;
    padding: 12px;
    display: flex;
    width: 247px;
    height: 44px;
    background: #323050;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.menu-lateral a {
    font-size: 18px;
    background: linear-gradient(180deg, #EBEBEB 10.94%, rgba(255, 255, 255, 0) 66.67%), #5D8A66;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-blend-mode: lighten;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.menu-lateral img {
    height: 26px;
}