.vantagens-dos-produtos {
    position: absolute;
    width: 100%;
    height: 94px;
    left: 0px;
    top: 583px;
    font-size: 26px;
    line-height: 32px;
    color: rgba(50, 48, 80, 0.84);
    text-align: center;
}
section div {
    display: inline-flex;
    flex-direction: row;
    white-space: break-spaces;
}