section.bannerCentral{
    padding: 33px 0 0;
    position: absolute;
    width: 100%;
    height: 436px;
    left: 0px;
    top: 179px;
    mix-blend-mode: multiply;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}