@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

/* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

body {
  font-family: 'RocknRoll One', sans-serif;
  box-sizing: border-box;
}
