<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {pageName: 'Cadastro'}) %>
  <body>
    
    <main class="cadastro-container" >
        <div class="logo">
            <img src="./images/logo-810enterPrise.png" alt="Logo 810 enterPrise" />
        </div>
    
        <div class="precisa-de-ajuda">
          <div class="card" tabindex="0">
            <span class="card__infoicon">
              <i class="fa fa-info">?</i>
            </span>
            <h1 class="card__title">Precisa de ajuda?</h1>
            <p class="card__description">Caso precisa de muita ajuda entre em contato com o número abaixo:</p>
            
            <p class="card__credits">Ligue para <a class="card__reference" href="https://www.youtube.com/channel/UCVyRiMvfUNMA1UPlDPzG5Ow">21 9999-9999</a> iremos tirar suas dúvidas.</p>
          </div>
        </div>

    <div class="faixa"></div>
      <form action="/cadastro" method="POST" enctype="multipart/form-data">
        <div class = "cadastrar-headline">Cadastrar</div>

        <label for="Nome">Primeiro Nome</label>
        <input placeholder="Insira seu primeiro nome" type="text" name="username" id="username" onkeyup="saveValue(this)"/>

        <label for="Nascimento">Data de Nascimento</label>
        <input type="date" name="date" id="date" onkeyup="saveValue(this)"/>

        <label for="email">Email</label>
        <input placeholder="Insira seu melhor e-mail" type="email" name="email" id="email" onkeyup="saveValue(this)"/>

        <label for="image">Foto de Perfil</label>
        <input type="file" name="image" id="image" onkeyup="saveValue(this)"/>

        <label for="senha">Senha</label>
        <input placeholder="Insira sua senha aqui" type="password" name="password" id="password" />

        <div class="termos">
            <a href="/termos">
            Ao se inscrever, concorda com políticas da 810 enterPrise 
            <strong>Termos de Serviço</strong> & <strong>Politica de Privacidade</strong>
            </a>
        </div>

        <% if(typeof extensionError !== 'undefined') { %>
          <ul class="alert alert-danger"
          role="alert"><%= extensionError %></ul>
        <% } %>

        <% if(typeof errors !== 'undefined') { %>
          
            <% errors.forEach(error => { %>
              <ul class="alert alert-danger"
              role="alert"><%= error.message %></ul>
            <% }) %>
          <% } %>

        <button class="criar" type="submit" value="Criar a minha conta">Criar a minha conta</button>

        <div class="tem-conta">
        <a href="/login">
          Tem uma conta? 
          <strong>Entre</strong>
        </a>
        </div>
        
      </form>

      <article class="melhor-plataforma">
          <h2>Sua melhor plataforma de compras online de GiftCards</h2>
      </article>
        
      <%- include('./partials/footerLoginCadastro') %>

      <script src="./javascripts/cadastro.js"></script>

    </main>

  </body>