<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>810 enterPrise - sacola</title>

  <link rel='stylesheet' href='./stylesheets/style.css' />
  <link rel='stylesheet' href='../stylesheets/header.css' />
  <link rel='stylesheet' href='../stylesheets/sectionBannerCentral.css' />
  <link rel='stylesheet' href='../stylesheets/footer.css' />
  <link rel='stylesheet' href='../stylesheets/sectionVantagens.css' />
  <link rel='stylesheet' href='../stylesheets/articleOfertas.css' />
  <link rel='stylesheet' href='../stylesheets/carrinho.css' />
</head>
<header>
      
  <div class="logo">
  <img src="./images/logo-810enterPrise.png" alt="Logo 810 enterPrise" />
  </div>

  <a>Bem vindo(a), <strong>Visitante!</strong></a>

<!-- Load icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
    <form class="navSearch" action="action_page">
      <input type="text" placeholder="Busque seu produto" name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>

  <nav class="navbar">
    <ul>
        <li>Ofertas</li>
        <li>Games</li>
        <li>Músicas</li>
        <li>Filmes</li>
        <li>Moda</li>
        <li>Esportes</li>
    </ul>
  </nav>
  
  <nav class="iconeMinhaConta">
  <img src = "./images/icone-minhaConta.svg" alt="Ícone minha conta" />
  <h1>MINHA CONTA</h1>
  </nav>

  <nav class="iconeCarrinho">
  <img src = "./images/Carrinho.svg" alt = "Ícone Carrinho de Compra" />
  <h2>MEUS PEDIDOS</h2>
  </nav>

</header>
    <body> 
      <main>
        <h1>aproveite e leve também</h1>
      <section class="aproveite-e-leve-tambem">
          
        <div class="products-row">
          <div class="infoProduto flex2">
            <img src="./images/card-steam.png" alt="Gift Card Digital Steam R$105">
            <section>  
            <p>Gift Card Digital Steam R$105</p>
            <span>R$ 105,00</span>
            </section>
          </div>
    
          <div class="infoProduto flex2">
            <img src="./images/card-ifood.png" alt="Gift Card Digital iFood R$ 40,00">
            <section>
            <p>Gift Card Digital iFood R$ 40,00</p>
              <span>R$ 40,00</span>
            </section>
          </div>
    
          <div class="infoProduto flex2">
            <img src="./images/card-gplay.png" alt="Gift Card Google Play Online R$ 15,00">
            <section>
              <p>Gift Card Google Play Online R$ 15,00</p>
              <span>R$ 15,00</span>
            </section>
          </div>
    
          <div class="infoProduto flex2">
            <img src="./images/card-uber.png" alt="Gift Card Digital Uber R$ 300,00">
            <section>
              <p>Gift Card Digital Uber R$ 300,00</p>
              <span>R$ 300,00</span>
            </section>
          </div>
        </div>
      </section>

<section class="minha-cesta">
      <h1>minha cesta</h1>

        <div class="cesta">
          <div class="produtoFinal">
            <h4>produtos</h4>
            <article>
          <img src="./images/card-ifood.png" alt="Gift Card Digital Uber R$ 300,00"></p>
        <section>
            <p>Gift Card Digital Ifood R$ 300,00</p>
          </section></article>
        </div>
        
          
       <div class="quantidadeFinal">
        <h4>qtd.</h4>
        <article>  
          <img src="./images/qtdCarrinho.svg" alt="qtd">
        </div></article>
        
          <h4>entrega</h4>
        <div class="entregaFinal">
        <article></article></div>
          <h4>preço</h4>
          
        <div class="precoFinal">
          <article><p>R$200,00</p>
        </div></article>
        <article>
          <h2>resumo do pedido</h2>
        <div class="resumoFinal">
          <p>1produto</p>
        </div></article>
      </div>
      </section>
      </div>
    </div>
      
    </main>
  
  </body>
