<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>810 enterPrise - sacola</title>

  <link rel='stylesheet' href='./stylesheets/style.css' />
  <link rel='stylesheet' href='../stylesheets/carrinho.css' />
</head>
<header>
      
  <div class="logo-header">
  <img src="./images/logo.svg" alt="Logo 810 enterPrise" />
  </div>

  <!-- Load icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
    <form class="navSearch" action="action_page">
      <input type="text" placeholder="busque seu produto" name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  
  <nav class="iconeMinhaConta">
  <img src = "./images/icone-minhaConta.svg" alt="Ícone minha conta" />
  <h1>Douglas</h1>
  </nav></header>
    <body> 
      <section class="aproveite-e-leve-tambem">
        <h1>aproveite e leve também</h1>
      
        <div class="products-row">
          <div class="imageProduto flex2">
            <img src="./images/card-steam.png" alt="Gift Card Digital Steam R$105">            
             <section><article>
              <p>Gift Card Digital Steam R$105</p>
                <h4>R$ 105,00</h4>
                <a href="./carrinho">adicionar a cesta</a>
              </article>
        </section></div>

        <div class="imageProduto flex2">
          <img src="./images/card-ifood.png" alt="Gift Card Digital iFood R$ 40,00">
          <section><article>
          <p>Gift Card Digital iFood R$ 40,00</p>
            <h4>R$ 40,00</h4>
            <a href="./carrinho">adicionar a cesta</a></article>
          </section>
        </div>
  
        <div class="imageProduto flex2">
          <img src="./images/card-gplay.png" alt="Gift Card Google Play Online R$ 15,00">
          <section><article>
            <p>Gift Card Google Play Online R$ 15,00</p>
            <h4>R$ 15,00</h4>
            <a href="./carrinho">adicionar a cesta</a></article>
          </section>
        </div>
  
        <div class="imageProduto flex2">
          <img src="./images/card-uber.png" alt="Gift Card Digital Uber R$ 300,00">
          <section><article>                
            <p>Gift Card Digital Uber R$ 300,00</p>
            <h4>R$ 300,00</h4>
            <a href="./carrinho">adicionar a cesta</a></article></section></div>

            <div class="imageProduto flex2">
              <img src="./images/card-tinder.png" alt="Gift Card Digital Tinder R$ 300,00">
              <section><article>                
                <p>Gift Card Digital Tinder R$ 300,00</p>
                <h4>R$ 300,00</h4>
                <a href="./carrinho">adicionar a cesta</a></article></section></div>
        
                <div class="imageProduto flex2">
                  <img src="./images/card-assai.png" alt="Gift Card Digital Assai R$ 30,00">
                  <section><article>                
                    <p>Gift Card Digital Assai R$ 30,00</p>
                    <h4>R$ 30,00</h4>
                    <a href="./carrinho">adicionar a cesta</a></article></section></div>


                    <div class="imageProduto flex2">
                      <img src="./images/card-netflix.png" alt="Gift Card Digital Netflix R$ 60,00">
                      <section><article>                
                        <p>Gift Card Digital Netflix R$ 60,00</p>
                        <h4>R$ 60,00</h4>
                        <a href="./carrinho">adicionar a cesta</a></article></section></div>

                      </div>
      </section>
      <section class="minha-cesta">   
        <div class="cesta">
          <h1>minha cesta</h1>
          <div class="divider">
            <div class="resumoFinal">
              <h2>resumo do pedido</h2><article>
              <p>1 produto</p>
              <p>frete</p>
              <div class="dividerResumo"></div>
              <h4>total</h4>
              <div class="dividerResumo"></div>
              <button class="continuar">continuar</button>
              <a href="./carrinho">adicionar mais produtos</a>
          </article>
        </div>
          </div>
        </div>
        <div class="pedido">
        
          
          <div class="produtoFinal">
            <h4>produto</h4>
           <section><article>
        <img src="./images/card-ifood.png" alt="Gift Card Digital Uber R$ 300,00">
     
          <p>Gift Card Digital Ifood R$ 300,00</p>
        </article></section>
      </div>
      
        
        <div class="quantidadeFinal">
          <h4>qtd.</h4>
        <article>
          <form method="post" action="qtd">
            <input min="1" type="number" id="quantity" value="1"/>
          </form>
        </article></div>
        
        
        <div class="entregaFinal">
          <h4>entrega</h4>  
        </div>
          
          
        <div class="precoFinal">
          <h4>preço</h4>
          <article><p>R$200,00</p>
          </article>
        </div>

         </div>
      </section>

    </body>

        <div class="nomes">
          <article>
          <h4>produtos</h4>
          <h4>qtd.</h4>
          <h4>entrega</h4>
          <h4>preço</h4></article>
        
        <div class="dividerNomes nomes"></div> 
        <div class="itens nomes">
          <div class="produtos"><article>
          <img src="./images/card-ifood.png" alt="Ifood">
          <h4>Gift Card Digital Ifood R$300,00</h4>
          <p>Vendido e entregue por <sub>810 enterPrise</sub></p></article></div>
          <div class="qtd"><img src="./images/qtdCarrinho.svg"></div>
          <div class="entrega"></div>
          <div class="preco">
            <p>R$200,00</p>
          </div></div>


        </div>     

      <div class="resumoFinal">
          <h2>resumo do pedido</h2><article>
          <p>1 produto</p>
          <p>frete</p>
          <div class="dividerResumo"></div>
          <h4>total</h4>
          <div class="dividerResumo"></div>
          <button class="continuar">continuar</button>
          <a href="./carrinho">adicionar mais produtos</a>
      </article></div>
    </div> 
      
      
    </section>
      
    </main>
  
  </body>

