<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>810 enterPrise - sacola</title>

  <link rel='stylesheet' href='./stylesheets/style.css' />
  <link rel='stylesheet' href='../stylesheets/carrinho.css' />
</head>

    <body> 
      <main>
        <h1>aproveite e leve também</h1>
      <section class="aproveite-e-leve-tambem">
          
        <div class="products-row">
          
          <div class="imageProduto flex2">
            
            <img src="./images/card-steam.png" alt="Gift Card Digital Steam R$105">
            <div class="slider">
            <button class="esquerda">
            <img src="./images/scroll-esquerda.svg" alt="Voltar">
          </button></div>
            
             <section><article>
              <p>Gift Card Digital Steam R$105</p>
                <h4>R$ 105,00</h4>
                <a href="./carrinho">adicionar a cesta</a>
              </article>
        </section></div>
    
          <div class="imageProduto flex2">
            <img src="./images/card-ifood.png" alt="Gift Card Digital iFood R$ 40,00">
            <section><article>
            <p>Gift Card Digital iFood R$ 40,00</p>
              <h4>R$ 40,00</h4>
              <a href="./carrinho">adicionar a cesta</a></article>
            </section>
          </div>
    
          <div class="imageProduto flex2">
            <img src="./images/card-gplay.png" alt="Gift Card Google Play Online R$ 15,00">
            <section><article>
              <p>Gift Card Google Play Online R$ 15,00</p>
              <h4>R$ 15,00</h4>
              <a href="./carrinho">adicionar a cesta</a></article>
            </section>
            
          </div>
    
          <div class="imageProduto flex2">
            <img src="./images/card-uber.png" alt="Gift Card Digital Uber R$ 300,00">
            <section><article>
              
                
              <p>Gift Card Digital Uber R$ 300,00</p>
              <h4>R$ 300,00</h4>
              <a href="./carrinho">adicionar a cesta</a></article>
            <div class="slider">
                <button class="direita">
                  <img src="./images/scroll-direita.svg" alt="Voltar">
                  </button></div>    </section>
          </div>
        </div>
      </section>

<section class="minha-cesta ">
      <h1>minha cesta</h1>
      <div class="divider">

        <div class="cesta">
          <div class="produtoFinal">
            <h4>produtos</h4>
             <section><article>
          <img src="./images/card-ifood.png" alt="Gift Card Digital Uber R$ 300,00"></p>
       
            <p>Gift Card Digital Ifood R$ 300,00</p>
          </article></section>
        </div>
        
          
       <div class="quantidadeFinal">
        <h4>qtd.</h4>
        <article>  
          <img src="./images/qtdCarrinho.svg" alt="qtd">
        </article></div>
        
          <h4>entrega</h4>
        <div class="entregaFinal">
        </div>
          <h4>preço</h4>
          
        <div class="precoFinal">
          <article><p>R$200,00</p>
          </article>
        </div></div>
        
          

        <div class="resumoFinal">
          <h2>resumo do pedido</h2><article>
          <p>1 produto</p>
          <p>frete</p>
          <div class="dividerResumo"></div>
          <h4>total</h4>
          <div class="dividerResumo"></div>
          <button class="continuar">continuar</button>
          <a href="./carrinho">adicionar mais produtos</a>
      </article>
    </div> 
      </div>
      
    </div></div></section>
      
    </main>
  
  </body>
