<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <main class="login-container">
        <div class="logo">
            <img src="./images/logo-810enterPrise.png" alt="Logo 810 enterPrise" />
        </div>
    
        <div class="precisa-de-ajuda">
          <div class="card" tabindex="0">
            <span class="card__infoicon">
              <i class="fa fa-info">?</i>
            </span>
            <h1 class="card__title">Precisa de ajuda?</h1>
            <p class="card__description">Caso precisa de muita ajuda entre em contato com o número abaixo:</p>
            
            <p class="card__credits">Ligue para <a class="card__reference" href="https://www.youtube.com/channel/UCVyRiMvfUNMA1UPlDPzG5Ow">21 9999-9999</a> iremos tirar suas dúvidas.</p>
          </div>
        </div>

    <div class="faixa"></div>
      <form action="/login" method="POST">
        <h5>Olá! digite o seu e-mail e senha para logar</h5>

        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Insira seu e-mail" required/>
        <label for="password">Senha</label>
        <input type="password" name="password" id="password" placeholder="Insira sua senha aqui" required />

        <div class="esqueci-senha">
            <a href="/novaSenha">Esqueci minha senha</a>
        </div>
        <div class="form-group">
          <input type="checkbox" name="remember" id="remember" > Lembre-me
        </div>

        <% if(typeof loginError !== 'undefined') { %>
          <ul class="alert alert-danger"
          role="alert"><%= loginError %></ul>
        <% } %>

        <button class="continuar" type="submit" value="Continuar">Continuar</button>
        <div class="criar-conta">
        <a href="/cadastro">Criar conta</a>
        </div>
      </form>

      <article class="melhor-plataforma">
          <h2>Sua melhor plataforma de compras online de GiftCards</h2>
      </article>

      <%- include('./partials/footerLoginCadastro') %>

    </main>
  </body>