<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
        <!-- menu -->
        <%- include('./partials/header') %>

        <%- include('./partials/navMenu') %>

        <aside class="aside-menu" >
            <div class="avatar">
                <img src="./images/" alt="avatar" />
            </div>
            
            <div class="nome-usuario">
                <h1>Jonnata Costa</h1>
                linha
            </div>

            <div class="menu-lateral">
                <div class="MEUCADASTRO">MEU CADASTRO</div>
                <div class="PEDIDOS">PEDIDOS</div>
                <div class="GARANTIA">GARANTIA</div>
                <div class="ARREPENDIMENTO">ARREPENDIMENTO</div>
            </div>

            <div class="atendimento-cli">
                <p>Atendimento ao Cliente</p>
                <h6>Canal SAC:</h6> <h5>(11)70707-7070</h5>
                <h4>E-mail:</h4> <h3>faleconosco@810enterprise.com</h3>
            </div>

        </aside>

        <%- include('./partials/footer') %>

</body>
</html>