<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {pageName: 'Painel Usuario'}) %>
  <body>
    <div class="main-painel-user" >
        <!-- menu -->
        <%- include('./partials/headerPainelUsuario') %>

        <aside class="aside-menu" >
            
            <div class="avatar">
                <img src="./images/painelUsuario/avatar.png" alt="avatar" />
            
                <div class="nome-usuario">
                    <h1><%= user.username %></h1>

                    <img class="linha-nome-avatar" src="./images/painelUsuario/linha-avatar.png" alt="linha-nome-avatar" />
                
                </div>
            </div>

            <div class="menu-lateral">

                <div class="meucadastro">
                    <a href="/meuCadastro">
                        <img src="./images/painelUsuario/meuCadastro.svg" alt="Meu cadastro" />
                        <img src="./images/painelUsuario/Line-vertical.svg" alt="Linha Vertical" />
                        
                        MEU CADASTRO
                        
                    </a>
                </div>

                <div class="pedidos">
                    <a href="/painelUsuario">
                        <img src="./images/painelUsuario/pedidos.svg" alt="Pedidos" />
                        <img src="./images/painelUsuario/Line-vertical.svg" alt="Linha Vertical" />
                       
                        PEDIDOS

                    </a>
                </div>

                <div class="garantia">
                    <a href="">
                        <img src="./images/painelUsuario/garantia.svg" alt="Garantia" />
                        <img src="./images/painelUsuario/Line-vertical.svg" alt="Linha Vertical" />
                        
                        GARANTIA

                    </a>
                </div>

                <div class="arrependimento">
                    <a href="">
                        <img src="./images/painelUsuario/arrependimento.svg" alt="Arrependimento" />
                        <img src="./images/painelUsuario/Line-vertical.svg" alt="Linha Vertical" />
                        
                        ARREPENDIMENTO

                    </a>
                </div>
            </div>

            <div class="atendimento-suporte">
                <div class="atdmento">Atendimento ao Cliente</div>
                <div class="canal-sac">Canal SAC:</div> 
                <div class="telefone">(11)70707-7070</div>
                <div class="email-atdmento">E-mail:</div>
                <div class="email-sup">faleconosco@810enterprise.com</div>
            </div>

        </aside>

        <div class="centro-painel-usuario">

            <div class="minha-conta-meus-pedidos">
                <div class="conta-pedidos">
                    <div class="minha-conta">
                        Minha Conta
                        <p class="text-minha-conta">
                            Aqui você pode editar seu perfil e verificar seus pedidos.
                        </p>
                    </div>

                    <div class="meus-pedidos">
                        Meus Pedidos
                        <p class="txt-meus-pedidos">
                            Abaixo você encontra todos os detalhes sobre suas compras.
                        </p>
                    </div>
                </div>

                <div class="comprarMais">
                    <a class = "linkbotao" href="/produtos">
                    <div class="botao-Comprar-Mais">
                        Comprar
                        <img class="seta-botao-comprar-mais" src="./images/painelUsuario/sinalDeMaisComprar.svg" alt="Seta comprar" />  
                    </div>
                </a>
                </div>
            </div>

            <div class="todos-pedidos-numero">
                <div class="todos-pedidos">
                    <div class="tds-pedidos">
                        Todos os Pedidos
                    </div>

                    <div class="tds-todos">
                        <div class="botao-tds">
                            Todos
                            <img class="seta-botao-tds" src="./images/painelUsuario/setaParaBaixo.svg" alt="Seta todos" />  
                        </div>
                    </div>
                </div>

                <div class="numero-pedido">
                    <div class="num-pedido">
                        Número do Pedido
                    </div>
                    <div class="data-pdd">
                        Data
                        <img class="seta-botao-data" src="./images/painelUsuario/setaParaBaixoData.svg" alt="Seta data" />
                    </div>
                    <div class="Pag-pdd">
                        Pagamento
                    </div>
                </div>
            </div>

            <div class="detalhamento-pedidos">
                    <div class="detalhamentoPedidos">
                        <div class="001">
                            001
                        </div>
                        <div class="dataCompra">
                            14/07/2022
                        </div>
                        <div class="cc">
                            Cartão de Crédito
                        </div>
                    </div>
                <div class="detalhes">
                    <img class="seta-botao-detalhes" src="./images/painelUsuario/maisDetalhes.svg" alt="mais detalhes" />
                    detalhes
                </div>
            </div>

            <div class="favoritos">
                    <div class="favoritos-footer">
                        <div class="fav">
                            Favoritos
                        </div>
                        <div class="favData">
                            <div class="botão-fav-data">
                                Data
                                <img class="seta-botao-data" src="./images/painelUsuario/setaParaBaixo.svg" alt="Seta data" />
                            </div>
                        </div>
                    </div>
                <div class="favoritos-detalhes"></div>
            </div>

        </div>

        <%- include('./partials/footerPainelUsuario') %>
    </div>
</body>

<!--modo dark-->
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
  function addDarkmodeWidget() {
    new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
</script>

</html>