<footer class="footer-login-cadastro">
      
    <div class="atendimento">
        <ul class="atendimento-cli">ATENDIMENTO AO CLIENTE</ul>
        <ul>Central de Ajuda</ul>
        <ul>Como Comprar</ul>
        <ul>Métodos de Pagamentos</ul>
        <ul>Garantia 810 enterPrise</ul>
        <ul>Devolução e Reembolso</ul>
        <ul>Falar Com A Gente</ul>
    </div>

    <div class="sobre-810enter">
          <ul class="sobre">SOBRE A 810 ENTERPRISE</ul>
          <ul>Sobre Nós</ul>
          <ul>Políticas 810 enterPrise</ul>
          <ul>Ofertas Relâmpago</ul>
          <ul>Imprensa</ul>
      </div>

      <div class="pagamentos">
        <ul class="pg">PAGAMENTO</ul>
        <img src = "./images/pagamento/logos_visaelectron.png" alt = "Ícone Visa" />
        <img src = "./images/pagamento/logos_mastercard.png" alt = "Ícone Master" />
      </div>

    <p class="direitos">
          <img src = "./images/line-footer.svg" alt = "Line footer"/>
        Todos os direitos reservados &copy; 2022 - 810 enterPrise
    </p>
  </footer>