<footer class="footer-painel-usuario">

    <div class="footer-line">
        <img src = "./images/line-footer.svg" alt = "Line footer usuario"/>
    </div>
    <div class="atendimento-footer-painel">
        <ul>Atendimento</ul>
        <ul>Termos de Uso</ul>
        <ul>Prazo de Entrega</ul>
        <ul>política de Privacidade</ul>
        <ul>Segurança</ul>

        <p class="direitos-footer-usuario">
          Todos os direitos reservados &copy; 2022 - 810 enterPrise
        </p>

    </div>

  </footer>