<footer>
      
    <article class="institucional">
      <ul>
        <li>ATENDIMENTO -</li>
        <li>TERMOS DE USO -</li>
        <li>PRAZO DE ENTREGA -</li>
        <li>POLÍTICA DE PRIVACIDADE -</li>
        <li>SEGURANÇA</li>
      </ul>

      <p>Todos os direitos reservados &copy; 2022 - 810 enterPrise</p>
    </article>
    
  </footer>