<header>
      
    <div class="logo-header">
      <a href="/home">
    <img src="./images/logo-810enterPrise.png" alt="Logo 810 enterPrise" /></a>
    </div>

    <div class="bem-vindo">
    <a>Bem vindo(a), <strong>Visitante!</strong></a>

<!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
      <form class="navSearch" action="action_page">
        <input type="text" placeholder="Busque seu produto" name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>

    <div class="menu-header">
      <nav class="iconeMinhaConta">
        <a href="/painelusuario">
          <img src = "./images/icone-minhaConta.svg" alt="Ícone minha conta" />
            <h1>MINHA CONTA</a></h1>
    </nav>

    <nav class="iconeCarrinho">
    <img src = "./images/Carrinho.svg" alt = "Ícone Carrinho de Compra" />
    <h1>MEUS PEDIDOS</h1>
    </nav>
    </div>

  </header>