<div class="painel-usuario">
    <div class="logo-header-painel-usuario">
        <a href="/home">
            <img class="logo-painel-user" src="./images/logo-810enterPrise.png"/>
        </a>
    </div>

    <div class="nav-search">
        <form class="nav-Search" action="action_page">
            <input type="text" placeholder="Busque seu produto" name="search">
            <button type="submit"><img class="lupa-painel-usuario" src="./images/lupa.svg"/><i class="fa fa-search"></i></button>
          </form>
    </div>

    <div class="avatar-header-painel">
        <div class="icone-conta-painel">
            <img src="./images/avatarUsuarios/<%= user.image %>" class="avatarUserHeader" alt="user.image" />
        </div>
    
        <div class="nome-avatar-header-painel">
            <%= user.username %>
        </div>
    </div>


</div>