<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo-810enterPrise.png">
    <link rel='stylesheet' href='./stylesheets/style.css' />
    <link rel='stylesheet' href='../stylesheets/header.css' />
    <link rel='stylesheet' href='../stylesheets/sectionBannerCentral.css' />
    <link rel='stylesheet' href='../stylesheets/footer.css' />
    <link rel='stylesheet' href='../stylesheets/sectionVantagens.css' />
    <link rel='stylesheet' href='../stylesheets/articleOfertas.css' />
    <link rel='stylesheet' href='../stylesheets/divSlider.css' />
    <link rel='stylesheet' href='../stylesheets/navMenu.css' />
    <link rel='stylesheet' href='../stylesheets/logo.css' />
    <link rel='stylesheet' href='../stylesheets/produtos.css' />
    <link rel='stylesheet' href='../stylesheets/login.css' />
    <link rel='stylesheet' href='../stylesheets/footerLoginCadastro.css' />
    <link rel='stylesheet' href='../stylesheets/cadastro.css' />
    <link rel='stylesheet' href='../stylesheets/painelUsuario.css' />
    <link rel='stylesheet' href='../stylesheets/footerPainelUsuario.css' />
    <link rel='stylesheet' href='../stylesheets/headerPainelUsuario.css' />
    <link rel='stylesheet' href='../stylesheets/not-found.css' />
    <link rel='stylesheet' href='../stylesheets/section4cards.css' />
    <link rel='stylesheet' href='../stylesheets/backToTop.css' />
  </head>


<!-- acessivel em libras -->
  <div vw class="enabled">
    <style>
      [vw] [vw-access-button] .access-button {
        width: 43%;
      }
    </style>
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>

    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
    
  </script>
  <!-- acessivel em libras -->