<nav class="menu">
    <ol>
      <li class="menu-item"><a href="#0">Home</a></li>
      <li class="menu-item"><a href="#0">Sobre</a></li>
      <li class="menu-item">
        <a href="#0">Categorias</a>
        <ol class="sub-menu">
          <li class="menu-item"><a href="#0">Games</a></li>
          <li class="menu-item"><a href="#0">Músicas</a></li>
          <li class="menu-item"><a href="#0">Filmes</a></li>
        </ol>
      </li>
      <li class="menu-item">
        <a href="#0">Ofertas da Semana</a>
        <ol class="sub-menu">
          <li class="menu-item"><a href="#0">15% OFF</a></li>
          <li class="menu-item"><a href="#0">25% OFF</a></li>
          <li class="menu-item"><a href="#0">35% OFF</a></li>
        </ol>
      </li>
      <li class="menu-item"><a href="#0">Contato</a></li>
    </ol>
  </nav>